# Compiled class files
*.class
target/

# Log files
*.log

# Maven
.mvn/
mvn.cmd
mvn

# IntelliJ IDEA
.idea/
*.iml
*.iws
*.ipr
out/

# Eclipse
.classpath
.project
.settings/

# MacOS
.DS_Store

# Test outputs
test-output/
allure-results/
allure-report/

# Temporary files
*.tmp
*.bak
*.swp
*~